.bookings-table {
    -fx-background-color: linear-gradient(to right, #A6D8F5, #00aff0); /* Gradient background */
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 2); /* Subtle shadow */
    -fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.bookings-table-header {
    -fx-background-color: transparent;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-radius: 10px 10px 0 0;
    -fx-padding: 10px 40px 10px 30px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}


.tab-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}



.centerArea{
    -fx-padding: 10px;
    -fx-alignment: center;
}


