
HBox:hover {
    -fx-background-color: #E5E4E2; /* Background color on hover */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;/* Border color on hover */
    -fx-cursor: hand; /* Change cursor to hand */
}

HBox:focused {
    -fx-background-color: white; /* White background when clicked */
    -fx-border-color: #00affa; /* Optional: Border color when focused */
    -fx-border-width: 2px; /* Optional: Border width when focused */
}

/* Style for Button text when the parent HBox is focused (clicked) */
HBox:focused Button {
    -fx-text-fill: black; /* Change text color to black */
}

/* Default Button style */
Button {
    -fx-background-color: transparent; /* Make button background transparent */
    -fx-text-fill: white; /* Default text color is white */
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 16;
}






